---
- name: Configure Multiple Cisco Routers
  hosts: Routers
  gather_facts: no
  connection: network_cli

  vars:
    ansible_network_os: cisco.ios.ios
    ansible_become: yes
    ansible_become_method: enable

  tasks:
    - name: Configure hostname
      ios_config:
        lines:
          - hostname {{ hostname }}

    - name: Configure DHCP pool USER-CLIENT
      ios_config:
        lines:
          - network 172.0.0.0 255.255.255.0
          - default-router 172.0.0.1
          - dns-server 192.168.1.4
          - domain-name user.local
        parents: ip dhcp pool USER-CLIENT

    - name: Exclude addresses from 172.0.0.1 to 172.0.0.5
      ios_config:
        lines:
          - ip dhcp excluded-address 172.0.0.1 172.0.0.5

    - name: Configure MOTD banner
      ios_config:
        lines:
          - banner motd ^ 
            Router access restricted!
            Unauthorized access prohibited!
            ^
